<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}"></title>
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="index,follow"/>

    <meta name="keywords" th:content="${article.keyword}"/>
    <meta name="description" th:content="${article.description}"/>

    <meta property="og:site_name" content="幻想乡"/>
    <meta property="og:title" th:content="${article.title}"/>
    <meta property="og:keywords" th:content="${article.keyword}"/>
    <meta property="og:description" th:content="${article.description}"/>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" th:href="${defaultUrl}+'css/layout.css'"/>
    <!--    <link rel="stylesheet" href="/css/index.css"/>-->
    <link rel="stylesheet" th:href="${defaultUrl}+'css/editormd.css'"/>
</head>
<body>
<nav>
    <div class="com-container nav-body" th:include="blog/common/common::nav"></div>
</nav>
<section>
    <div class="com-container">
        <div class="content-left">
            <div class="banner">
                <img src="http://q0j9dl3x3.bkt.clouddn.com/xihu.jpg">
            </div>
            <div class="content left-content">
                <div class="content-article">
                    <div class="article-title">
                        <h1 th:text="${article.title}"></h1>
                    </div>
                    <div class="article-body markdown-body">
                        <div th:utext="${article.content}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-right" th:include="blog/common/common::right">

        </div>
    </div>
</section>
<footer>
    <div class="com-container footer-content text-colorb" th:include="blog/common/common::footer"></div>
</footer>
<div class="back-top">
    <img class="back-top-icon" src="https://static.oschina.net/new-osc/img/icon/back-to-top.svg" alt="返回顶部">
</div>
<!-- basic scripts -->
<!--[if !IE]> -->
<script th:src="${defaultUrl}+'assets/js/jquery-2.1.4.min.js'"></script>
<!-- <![endif]-->
<!--[if IE]>
<script th:src="${defaultUrl}+'assets/js/jquery-1.11.3.min.js'"></script>
<![endif]-->
<!--<script type="text/javascript">-->
<!--    if ('ontouchstart' in document.documentElement) document.write("<script src='js/jquery.mobile.custom.min.js'>" + "<" + "/script>");-->
<!--</script>-->
<script th:src="${defaultUrl}+'js/blog.js'"></script>
</body>
</html>