<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>幻想乡-首页</title>
    <meta name="robots" content="index,follow"/>
    <meta name="googlebot" content="index,follow"/>

    <meta name="keywords" content="幻想乡"/>
    <meta name="description" content="程序员的幻想乡"/>

    <meta property="og:site_name" content="幻想乡"/>
    <meta property="og:title" content="幻想乡-首页"/>
    <meta property="og:keywords" content="幻想乡"/>
    <meta property="og:description" content="程序员的幻想乡"/>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" th:href="${defaultUrl}+'css/layout.css'"/>
    <link rel="stylesheet" th:href="${defaultUrl}+'css/index.css'"/>
</head>
<body>
<nav>
    <div class="com-container nav-body" th:include="blog/common/common::nav"></div>
</nav>
<section>
    <div class="com-container">
        <div class="content-left">
            <div class="banner">
                <img src="http://localhost:8080/images/xihu.jpg">
            </div>
            <div class="content left-content">
                <ul class="list-ul">
                    <li class="list-li" th:each="article : ${articles}">
                        <div class="left-li-body">
                            <a class="cat " th:href="${article.categoryUrl}+'/1'">
                                <span th:text="${article.category}"></span>
                                <i></i>
                            </a>
                            <a th:href="${article.url}" class="left-list-title">
                                <span class="left-li-a" th:text="${article.title}"></span>
                            </a>
                            <br>
                            <span class="left-li-b" th:text="${article.author}"></span>
                            <span class="left-li-b" th:text="${article.createTime}"></span>
                            <span class="left-li-b">阅读([[${article.viewsNum}]])</span>
                            <span class="left-li-c">点赞([[${article.starNum}]])</span>
                            <br>
                            <p class="left-li-d" th:text="${article.description}"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="left-foot">
                <a th:if="${preUrl != '#'}" th:href="${preUrl}">
                    <span class="pre-page">上一页</span>
                </a>
                <a th:if="${nextUrl != '#'}" th:href="${nextUrl}">
                    <span class="next-page">下一页</span>
                </a>
                <span th:if="${preUrl == '#'}" class="pre-page">木了~</span>
                <span th:if="${nextUrl == '#'}" class="next-page">木了~</span>
            </div>
        </div>
        <div class="content-right" th:include="blog/common/common::right"></div>
    </div>
</section>
<footer>
    <div class="com-container footer-content text-colorb" th:include="blog/common/common::footer"></div>
</footer>
<div class="back-top">
    <img class="back-top-icon" src="https://static.oschina.net/new-osc/img/icon/back-to-top.svg" alt="返回顶部">
</div>
<!-- basic scripts -->
<!--[if !IE]> -->
<script th:src="${defaultUrl}+'assets/js/jquery-2.1.4.min.js'"></script>
<!-- <![endif]-->
<!--[if IE]>
<script th:src="${defaultUrl}+'assets/js/jquery-1.11.3.min.js'"></script>
<![endif]-->
<!--<script type="text/javascript">-->
<!--    if ('ontouchstart' in document.documentElement) document.write("<script src='js/jquery.mobile.custom.min.js'>" + "<" + "/script>");-->
<!--</script>-->
<script th:src="${defaultUrl}+'js/blog.js'"></script>
</body>
</html>