<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>灵梦博客-首页</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<nav>
    <div class="com-container nav-body">
        <div class="nav-brand">
            <img class="brand-img" src="/images/brand.webp"/>
        </div>
        <div class="nav-brand">
            <span class="brand-label">幻想乡</span>
        </div>
        <div class="nav-navbar">
            <ul class="nav-li">
                <li class="nav-li">
                    <a href="#"><span>博客</span></a>
                </li>
                <li class="nav-li">
                    <a href="#">java</a>
                </li>
                <li class="nav-li">
                    <a href="#">关于作者</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <div class="com-container">
        <div class="content-left back-red">
            <div class="banner">

            </div>
        </div>
        <div class="content-right back-blue">
aaa
        </div>
    </div>
</section>
<footer>
    <div class="com-container back-red">
        aa
    </div>
</footer>
<!--&lt;!&ndash; basic scripts &ndash;&gt;-->
<!--&lt;!&ndash;[if !IE]> &ndash;&gt;-->
<!--<script src="assets/js/jquery-2.1.4.min.js"></script>-->
<!--&lt;!&ndash; <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE]>-->
<!--<script src="assets/js/jquery-1.11.3.min.js"></script>-->
<!--<![endif]&ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--    if ('ontouchstart' in document.documentElement) document.write("<script src='js/jquery.mobile.custom.min.js'>" + "<" + "/script>");-->
<!--</script>-->
</body>
</html>