<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>灵梦博客-首页</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/css/layout.css"/>
<!--    <link rel="stylesheet" href="/css/index.css"/>-->
    <link rel="stylesheet" href="/css/editormd.css"/>
</head>
<body>
<nav>
    <div class="com-container nav-body">
        <div class="nav-brand">
            <a href="http://localhost:8080/index">
                <img class="brand-img" src="/images/brand.webp"/>
            </a>
        </div>
        <div class="nav-brand">
            <a href="http://localhost:8080/index">
                <span class="brand-label">幻想乡</span>
            </a>
        </div>
        <div class="nav-title">
            <ul class="nav-navbar-left">
                <li class="nav-li">
                    <a href="http://localhost:8080/index"><span>首页</span></a>
                </li>
                <li class="nav-li" th:each="category : ${categorys}">
                    <a href="#" th:text="${category.getName()}"></a>
                </li>
            </ul>
            <ul class="nav-navbar-right">
                <li class="nav-li">
                    <a href="#">关于作者</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <div class="com-container">
        <div class="content-left">
            <div class="banner">
                <img src="http://localhost:8080/images/xihu.jpg">
            </div>
            <div class="content left-content">
                <div class="article-title">
                    <h1 th:text="${article.title}"></h1>
                </div>
                <div class="article-body markdown-body">
                    <div th:utext="${article.content}">

                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">
            <div class="content right-content hot-content">
                <div class="rignt-brand-body">
                    <span class="rignt-brand text-color6">热门文章</span>
                </div>
                <div class="right-list">
                    <ul class="list-ul">
                        <li class="list-li">
                            <div class="right-li-body">
                                <a href="#">
                                    <span class="right-li-a">
                                    我是热门文章
                                    </span>
                                </a>
                                <br>
                                <span class="right-li-b">2019-01-01</span>
                                <span class="right-li-b">阅读(1000)</span>
                            </div>
                        </li>
                        <li class="list-li">
                            <div class="right-li-body">
                                <a href="#">
                                    <span class="right-li-a">
                                    我是热门文章
                                    </span>
                                </a>
                                <br>
                                <span class="right-li-b">2019-01-01</span>
                                <span class="right-li-b">阅读(1000)</span>
                            </div>
                        </li>
                        <li class="list-li">
                            <div class="right-li-body">
                                <a href="#">
                                    <span class="right-li-a">
                                    我是热门文章
                                    </span>
                                </a>
                                <br>
                                <span class="right-li-b">2019-01-01</span>
                                <span class="right-li-b">阅读(1000)</span>
                            </div>
                        </li>
                        <li class="list-li">
                            <div class="right-li-body">
                                <a href="#">
                                    <span class="right-li-a">
                                    我是热门文章
                                    </span>
                                </a>
                                <br>
                                <span class="right-li-b">2019-01-01</span>
                                <span class="right-li-b">阅读(1000)</span>
                            </div>
                        </li>
                        <li class="list-li">
                            <div class="right-li-body">
                                <a href="#">
                                    <span class="right-li-a">
                                    我是热门文章
                                    </span>
                                </a>
                                <br>
                                <span class="right-li-b">2019-01-01</span>
                                <span class="right-li-b">阅读(1000)</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content right-content new-content">
                <div class="rignt-brand-body">
                    <span class="rignt-brand text-color6">最新文章</span>
                </div>
                <div class="right-list">
                    <ul class="list-ul">
                        <li class="list-li">
                            <div class="right-li-body">
                                <a href="#">
                                    <span class="right-li-a">
                                    我是最新文章
                                    </span>
                                </a>
                                <br>
                                <span class="right-li-b">2019-01-01</span>
                                <span class="right-li-b">阅读(1000)</span>
                            </div>
                        </li>
                        <li class="list-li">
                            <div class="right-li-body">
                                <a href="#">
                                    <span class="right-li-a">
                                    我是最新文章
                                    </span>
                                </a>
                                <br>
                                <span class="right-li-b">2019-01-01</span>
                                <span class="right-li-b">阅读(1000)</span>
                            </div>
                        </li>
                        <li class="list-li">
                            <div class="right-li-body">
                                <a href="#">
                                    <span class="right-li-a">
                                    我是最新文章
                                    </span>
                                </a>
                                <br>
                                <span class="right-li-b">2019-01-01</span>
                                <span class="right-li-b">阅读(1000)</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="com-container footer-content text-colorb">
        <ul>
            <li>
                ©2019
                <a href="http://localhost:8080/index">幻想乡</a>
            </li>
            <li>
                |
            </li>
            <li>
                某ICP备xxxxxxx号-x
            </li>
        </ul>

    </div>
</footer>
<!-- basic scripts -->
<!--[if !IE]> -->
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<!--<script type="text/javascript">-->
<!--    if ('ontouchstart' in document.documentElement) document.write("<script src='js/jquery.mobile.custom.min.js'>" + "<" + "/script>");-->
<!--</script>-->
</body>
</html>