<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="right">
    <div class="content right-content hot-content">
        <div class="rignt-brand-body">
            <span class="rignt-brand text-color6">热门文章</span>
        </div>
        <div class="right-list">
            <ul class="list-ul">
                <li class="list-li" th:each="hot:${hots}">
                    <div class="right-li-body">
                        <a th:href="${hot.url}">
                            <span class="right-li-a" th:text="${hot.title}"></span>
                        </a>
                        <br>
                        <span class="right-li-b" th:text="${hot.createTime}"></span>
                        <span class="right-li-b">阅读([[${hot.viewsNum}]])</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content right-content new-content">
        <div class="rignt-brand-body">
            <span class="rignt-brand text-color6">最新文章</span>
        </div>
        <div class="right-list">
            <ul class="list-ul">
                <li class="list-li" th:each="nwe : ${news}">
                    <div class="right-li-body">
                        <a th:href="${nwe.url}">
                            <span class="right-li-a" th:text="${nwe.title}"></span>
                        </a>
                        <br>
                        <span class="right-li-b" th:text="${nwe.createTime}"></span>
                        <span class="right-li-b">阅读([[${nwe.viewsNum}]])</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content right-content hot-content">
        <div class="rignt-brand-body">
            <span class="rignt-brand text-color6">专栏</span>
        </div>
        <div class="right-list">
            <ul class="list-ul">
                <li class="list-li" th:each="special:${specials}">
                    <div class="right-li-body">
                        <a th:href="${special.url}+'/1'">
                            <span class="right-li-a" th:text="${special.name}"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="nav">
    <div class="nav-brand">
        <a th:href="${defaultUrl}">
            <img class="brand-img" src="/images/brand.png"/>
        </a>
    </div>
    <div class="nav-brand">
        <a th:href="${defaultUrl}">
            <span class="brand-label">幻想乡</span>
        </a>
    </div>
    <div class="nav-title">
        <ul class="nav-navbar-left">
            <li class="nav-li">
                <a th:href="${defaultUrl}"><span>首页</span></a>
            </li>
            <li class="nav-li" th:each="category : ${categories}">
                <a th:href="${category.url +'/1'}">
                    <span th:text="${category.name}"></span>
                </a>
            </li>
        </ul>
        <ul class="nav-navbar-right">
            <li class="nav-li">
<!--                <a href="#"><span>关于本站</span></a>-->
            </li>
        </ul>
    </div>
</div>

<div th:fragment="footer">
    <ul>
        <li>
            ©2019
            <a th:href="${defaultUrl}">幻想乡</a>
        </li>
        <li>
            |
        </li>
        <li>
            <a href="http://www.beian.miit.gov.cn/">豫ICP备19043044号-1</a>
        </li>
        <li>
            |
        </li>
        <li>
            <div class="foot-stock">
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41168102000054"><img src="/images/police.png" style="width: 16px;height: 16px;margin-right: 3px;"/>豫公网安备 41168102000054号</a>
            </div>
        </li>
        <li>
            |
        </li>
        <li>
            今日总访问:[[${allCount}]]
        </li>
        <li>
            |
        </li>
        <li>
            今日访问IP:[[${ipCount}]]
        </li>
    </ul>

    <script>
        //百度提交
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</div>
</body>
</html>