body{
    padding: 0;
    margin: 0;
    text-align: center;
}
nav{
    min-height: 50px;
    text-align: center;
    border-bottom: 1px solid #EAEAEA;
}
section{
    margin-top: 10px;
    min-height: 1500px;
    background-color: #f6f6f6;
}
footer{
    min-height: 50px;
    flex: 0 0 auto;
}
.com-container{
    width: 1200px;
    margin:0 auto;
}
.content-left{
    width: 820px;
    float: left;
}
.content-right{
    width: 360px;
    float: right;
}