<div style="height: 752px;width:100%;overflow: auto">
    <div class="row" style="margin: -5px 0 0 -12px;">
        <div class="col-sm-5">
            <input type="hidden" id="articleId"/>
            <input type="text" id="articleTitle" class="articleTitle" style="font-size: 30px;font-weight: bold;color: #1D2024"/>

            <div class="">
                <div class="widget-main no-padding">
                    <textarea name="content" data-provide="markdown" data-iconlibrary="fa" rows="29"></textarea>
                </div>
                <div class="widget-toolbox padding-4 clearfix">
                    <div class="btn-group pull-left">
                        <button class="btn btn-sm btn-info">
                            <i class="ace-icon fa fa-times bigger-125"></i>
                            Cancel
                        </button>
                    </div>

                    <div class="btn-group pull-right">
                        <button class="btn btn-sm btn-purple">
                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div style="background: gray;height: 100%;width: 100%;">
                qqq
            </div>
        </div>
    </div>
</div>
<style>
    .articleTitle{
        width: 100%;
        height: 50px;
        background-color:transparent;
        border:0;
    }
</style>
<script src="assets/js/markdown.min.js"></script>
<script src="assets/js/bootstrap-markdown.min.js"></script>
<script src="/js/edit-page.js"></script>