<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="manage/common/header::header">

</head>
<body class="no-skin">
<div th:include="manage/common/head::head" id="navbar" class="navbar navbar-default ace-save-state"></div>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <div th:include="manage/common/left::left" id="sidebar" class="sidebar responsive ace-save-state"></div>
    <div id="section" class="main-content section">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul id="breadcrumb-path" class="breadcrumb">
                    <li id="breadcrumb-home">
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a data-toggle="tab" href="#" class="tabs_refresh_page" data="/manage-main" name="首页">首页</a>
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>
            <!-- PAGE CONTENT BEGINS -->
            <div id="tabContainer" class="tab-content" style="padding: 0 12px 0 2px">



            </div><!-- /.page-content -->
            <!-- PAGE CONTENT ENDS -->
        </div>
    </div><!-- main-content end-->
<!--    <div th:include="manage/common/footer::footer" ></div>-->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- main-container end -->
<div th:include="manage/common/footer::footer" class="footer" style="padding-top: 0px"></div>
<style type="text/css">
    html{
        height:100%
    }
    body{
        height:100%;
    }
</style>
<!-- basic scripts -->
<!--[if !IE]> -->
<script src="assets/js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<script src="js/bootstrap-table.min.js"></script>
<script src="js/bootstrap-table-locale-all.min.js"></script>
<!-- ace scripts -->
<script src="assets/js/tree.min.js"></script>
<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="js/editormd.js"></script>
<!-- inline scripts related to this page -->
<script src="js/index.js"></script>
<script src="js/request.js"></script>
<script src="js/message.js"></script>
</body>
</html>