<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="manage/common/header::header">

</head>
<body class="no-skin">
<div th:include="manage/common/head::head" id="navbar" class="navbar navbar-default ace-save-state"></div>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <div th:include="manage/common/left::left" id="sidebar" class="sidebar responsive ace-save-state"></div>
    <div id="section" class="main-content section">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul id="breadcrumb-path" class="breadcrumb">
                    <li id="breadcrumb-home">
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a data-toggle="tab" href="#" class="tabs_refresh_page" data="/manage-main" name="首页">首页</a>
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content" style="padding: 0px 1px 0px;">
                <!--<div class="row" style="margin-left: -13px;margin-right: 0px;">-->
                <!--<div class="col-sm-12">-->
                <!-- PAGE CONTENT BEGINS -->

                <div id="tabContainer" class="tab-content">
                    <!--<div id="home4" class="tab-pane in active">-->
                    <!--<p>Raw denim you probably haven't heard of them jean shorts Austin.</p>-->
                    <!--</div>-->

                    <!--<div id="profile4" class="tab-pane">-->
                    <!--<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>-->
                    <!--</div>-->

                    <!--<div id="dropdown14" class="tab-pane">-->
                    <!--<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>-->
                    <!--</div>-->
                </div>
                <!-- PAGE CONTENT ENDS -->
                <!--</div>&lt;!&ndash; col end &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
            </div><!-- /.page-content -->
        </div>
    </div><!-- main-content end-->
    <div th:include="manage/common/footer::footer" class="footer"></div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- main-container end -->
<style type="text/css">
    html{
        height:100%
    }
    body{
        height:100%;
    }
</style>
<!-- basic scripts -->
<!--[if !IE]> -->
<script src="assets/js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<script src="js/bootstrap-table.min.js"></script>
<script src="js/bootstrap-table-locale-all.min.js"></script>
<!-- ace scripts -->
<script src="assets/js/tree.min.js"></script>
<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<!-- inline scripts related to this page -->
<script src="js/index.js"></script>
<script src="js/request.js"></script>
<script src="js/message.js"></script>
</body>
</html>