<div class="common-container">
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-danger btn-sm">
                <i class="ace-icon fa fa-lock bigger-100"></i>
                批量冻结
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="user-table" style="width: 100%"></table>
        </div>
    </div>
</div>

<style type="text/css">
    .common-container{
        width: 100%;
        height: 100%;
    }
</style>
<script src="/js/table.js"></script>
<script src="js/user.js"></script>