<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reimu.dao.ArticleCategoryMapper">

	<resultMap id="BaseResultMap" type="com.reimu.entity.ArticleCategory">
		<id column="id" property="id" />
		<result column="article_id" property="articleId" />
		<result column="category_id" property="categoryId" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, article_id AS articleId, category_id AS categoryId
    </sql>
</mapper>
