<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reimu.dao.RolePermissionMapper">

	<resultMap id="BaseResultMap" type="com.reimu.entity.RolePermission">
		<id column="id" property="id" />
		<result column="role_id" property="roleId" />
		<result column="permission_id" property="permissionId" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        rp.id, rp.role_id AS roleId, rp.permission_id AS permissionId
    </sql>

	<select id="getRPByUserId" parameterType="String" resultType="com.reimu.entity.RolePermission">
		SELECT
			<include refid="Base_Column_List"/>
		FROM
			t_role_permission rp
		LEFT JOIN t_user_role ur ON rp.role_id = ur.role_id
		WHERE
			ur.user_id = #{userId}
	</select>
</mapper>
