<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reimu.dao.RoleMapper">

	<resultMap id="BaseResultMap" type="com.reimu.entity.Role">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="sort" property="sort" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        r.id, r.name, r.description,r.sort
    </sql>

	<select id="getListByUserId" parameterType="String" resultType="com.reimu.entity.Role">
		SELECT
			<include refid="Base_Column_List"/>
		FROM
			t_role r
		LEFT JOIN t_user_role ur ON r.id = ur.role_id
		WHERE
			ur.user_id = #{userId}
	</select>
</mapper>
