<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reimu.dao.SpecialArticleMapper">

	<resultMap id="BaseResultMap" type="com.reimu.entity.SpecialArticle">
		<id column="id" property="id" />
		<result column="special_id" property="specialId" />
		<result column="article_id" property="articleId" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, special_id AS specialId, article_id AS articleId
    </sql>
</mapper>
