<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="left">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->
    <ul class="nav nav-list">
        <li class="">
            <a href="#" class="tabs_refresh_page" data="/manage-main" name="首页">
                <i class="menu-icon fa fa-home"></i>
                <span class="menu-text"> 首页 </span>
            </a>

            <b class="arrow"></b>
        </li>

        <!--/*@thymesVar id="menuTree" type="java.util.List"*/-->
        <!--/*@thymesVar id="treeItem" type="com.reimu.model.tree.TreeItem"*/-->
        <li class="" th:each="treeItem : ${menuTree}">
            <a href="#" th:class="${treeItem.type==0?'dropdown-toggle':'tabs_refresh_page'}" th:data="${treeItem.code}" th:name="${treeItem.name}">
                <i th:class="${treeItem.icon}"></i>
                <span class="menu-text" th:text="${treeItem.text}"> </span>
                <b th:if="${treeItem.type == 0}" class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>

            <ul class="submenu" th:if="${treeItem.type == 0}">
                <li class="" th:each="child : ${treeItem.children}">
                    <a href="#" class="tabs_refresh_page" th:data="${child.code}" th:name="${child.name}">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span th:text="${child.text}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
</body>
</html>